.text {
    text-shadow: 0 1px 3px #000;
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;
}

.caret {
    font-size: 80px;
    font-weight: 100;
}

.typingAnimation::after {
    content: "|";
    animation: typing 0.7s infinite;
}

@keyframes typing {
    0% {
        content: "";
    }
    50% {
        content: "|";
    }
    100% {
        content: "";
    }
}
